
body{
    background-color:LightBlue;
}
   
.nav {background-color: #0000cc;
    font-family: 'Lalezar', cursive;
    font-size: 150%;
}
.jumbo-1 {
    background-size:cover;
    background-image: url(../images/fah3.jpg);
    text-align: center;
    color: #FAFAFA;
    margin-bottom: 10%;
    font-family: 'Shrikhand', cursive;
    margin-top: 6%;
    
}
#hello {text-align: center;
    color: #FFF;
    font-family: 'Shrikhand', cursive;
    
}
.carousel-caption-title {text-align: center;
    font-size: 200%;
    font-family: 'Shrikhand', cursive;
    
} 
.game {text-align: center;
    color: #F0AE16;
    font-size:  250%;
     font-family: 'Galada', cursive;
}
.game1 {
    color: A80000;
    font-family: 'Galada', cursive;
}
    
.title {text-align: center;
    color: #20BA68;
    font-family: 'Shrikhand', cursive;
    
}
    
        
.dw {margin-top: 5%;
    color:#59A644;
    
}    
.act {color: #0000cc;
    font-family: 'Galada', cursive;
    
    
}
.li {font-family: 'Galada', cursive;
    
}
    
    
.shadow{
  padding-top:10px;
  padding-bottom:30px;
  margin: auto;
  width:80%;
  background-color:#ffffcc;
  text-align: center;
}